# Backend Server API Endpoint connection
VITE_API_URL=http://localhost:5000/api

# Sandbox Mock configuration
# Set VITE_USE_MOCK to "false" to connect to Express REST API server endpoints
# Set VITE_USE_MOCK to "true" to use client-side LocalStorage simulation
VITE_USE_MOCK=false
